@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Poppins:wght@200;400;500;600&display=swap");
/* NAVBAR */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-content .about-img {
  width: 100%;
  height: 40vh;
  background-image: url("https://cdn.shopify.com/s/files/1/0155/8131/products/0X2A0055_b6675848-0fe1-4869-b282-b313045b34af_2000x.jpg?v=1647937248");
  background-size: cover;
}
