{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <script
      src="https://kit.fontawesome.com/ad34c27ecf.js"
      crossorigin="anonymous"
    ></script>
    <title>GI - About</title>
  </head>
  <body>
    <!-- ***************** BODY CONTENT *************  -->
    <!-- ***************** Seconary navbar ************* -->
    {% include 'secondary-navbar.html' %} {% block secondary-navbar%}
    {%endblock%}

    <!-- ***************** ABOUT PAGE  ************* -->
    {% include 'about-content.html' %} {% block about-content%}
    {%endblock%}

    <!-- ####### SCRIPT  ####### -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>
    <script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
