{% load static %}

<div class="abt-main-content">
    <div class="about-img"></div>
    <div class="about-content">
      <h2 class="about-title">ABOUT US:</h2>
      <div class="center-content">
        <h3 class="about-title-2">VISION AND MISSION</h3>
        <p class="about-text">
          Intellectual Property Rights is an inevitable tool for today's
          globalized economy. Fostering innovation is one of the sustainable
          development goals set by the Government of India. “An India where
          Intellectual Property stimulates creativity and innovation for the
          benefit of all” is the vision of our National IPR Policy. Several
          initiatives have already proven to foster innovation like the Make
          in India, Start up India, Digital India and Skill India. The Atal
          Innovation Mission nurtures the innovative energies across the
          country in schools and universities. Under the IPR policy, the cell
          for IPR Promotion and Management, CIPAM has been tasked to
          facilitate creation and commercialization of IP assets in
          collaboration with the Office of the Controller General of Patents,
          Designs and Trademarks.
          <br />
          <br />
          The filings for IP rights have considerably increased and the
          Intellectual Property Offices are also getting revamped in terms of
          capacity building. More Examiners have been recruited and trained in
          Patents. The Patent Office started functioning as International
          Searching and Examining Authority since October 2013. It is
          encouraging to note that more applicants are now choosing IPO for
          international search. Applicants registered as Start-ups and those
          who have chosen Indian Patent Office as ISA or IPEA in the
          corresponding international application can avail of the facility of
          Expedited Examination. To ensure quality in all our operations, a
          dedicated Quality Assurance Division has been set up in the Patent
          Office.
          <br />
          <br />
          Manpower augmentationand business process reengineering have proved
          to substantially increase the output of the Trademarks Registry.
          Electronic communication has been initiated for Designs for quicker
          processing. Many of the globally famous products that are part of
          India's rich cultural heritage have been registered as Geographical
          Indications. The Copyrights Office is also brought under the Office
          of CGPDTM. With all efforts in place, it is expected that IPO would
          leap to even greater heights.
          <br />
          <br />
        </p>
      </div>
    </div>
    <!-- ##### FOOTER SECTION ##### -->
  <div class="primary-footer">
    <p class="copyright-text">©All copyrghts are reserved to Indian Government.</p>
  </div>
  <hr>
  <div class="footer">
    <div class="left-footer">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Register for GI</a></li>
        <li><a href="#">Renewal of GI</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="right-footer">
     <img style="width:200px;height:auto;" src="{% static 'assests/india emb.png'%}"></img>
    <img style="width:30px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img>
    </div>
  </div>
  </div>