{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{% static 'css/contact.css'%}" />  -->
    <link rel="stylesheet" href="/static/css/contact.css?{% now "U" %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <script
      src="https://kit.fontawesome.com/ad34c27ecf.js"
      crossorigin="anonymous"
    ></script>
    <title>GI - Contact Us</title>
  </head>
  <body>
    <!-- ***************** BODY CONTENT *************  -->
    <!-- ***************** Seconary navbar ************* -->
    {% include 'secondary-navbar.html' %} {% block secondary-navbar%}
    {%endblock%}

    <!-- ***************** CONTACT PAGE  ************* -->
    <div class="contact-container">
      <form>
        <div class="field" tabindex="1">
          <label for="username">
            <i class="far fa-user"></i>Your Name
          </label>
          <input name="username" type="text" placeholder="e.g. Ramesh" required>
        </div>
        <div class="field" tabindex="2">
          <label for="email">
            <i class="far fa-envelope"></i>Your Email
          </label>
          <input name="email" type="email" placeholder="email@domain.com" required>
        </div>
        <div class="field" tabindex="3">
          <label for="message">
            <i class="far fa-edit"></i>Your Message
          </label>
          <textarea name="message" placeholder="type here" required></textarea>
        </div>
        <button type="submit">Send Me Message</button>
        <div class="social-media">
          <span>
            Contact<i class="fas fa-long-arrow-alt-right"></i>
          </span>
          <a target="blank_"><i class="fa-solid fa-phone"></i>   044-22502092</a>
          <a target="blank_"><i class="fa-solid fa-fax"></i>   044-22502090</a>
        </div>
      </form>
      
    </div>
    <div class="address">
      <h3>Address</h3>
      <p>
        Geographical Indications Registry<br>
        Intellectual Property Office Building,<br>
        G.S.T Road, Guindy, Chennai - 600 032.
      </p>
    </div>
    
    <!-- ***************** FOOTER PAGE  ************* -->
	<div class="primary-footer">
		<p class="copyright-text">©All copyrghts are reserved to Indian Government.</p>
	  </div>
	  <hr>
	  <div class="footer">
		<div class="left-footer">
		  <ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Register for GI</a></li>
			<li><a href="#">Renewal of GI</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		  </ul>
		</div>
		<div class="right-footer">
		 <img style="width:200px;height:auto;" src="{% static 'assests/india emb.png'%}"></img>
		<img style="width:30px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img>
		</div>
	  </div>
    <!-- ####### SCRIPT  ####### -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>
    <script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
