<div class="carousel">
  <div class="progress-bar progress-bar--primary hide-on-desktop">
    <div class="progress-bar__fill"></div>
  </div>

  <header class="main-post-wrapper">
    <div class="slides">
      <article class="main-post main-post--active">
        <div class="main-post__image">
          <img
            src="https://cdn.shopify.com/s/files/1/0557/4331/6157/articles/TF_What_Is_Darjeeling_HERO_V3_2880x1512_d72eecbe-c914-4fe3-8325-11366b7ee396_2880x.jpg?v=1630469144"
            alt="New McLaren wind tunnel 'critical' to future performance, says Tech Director Key"
          />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">GI REGISTERED PRODUCTS</span>
          </div>
          <h1 class="main-post__title">
            Darjeeling green, white teas have been registered as a GI in the
            country.
          </h1>
          <a
            class="main-post__link"
            href="https://www.moneycontrol.com/news/trends/features/-1619447.html"
          >
            <span class="main-post__link-text">find out more</span>
            <svg
              class="main-post__link-icon main-post__link-icon--arrow"
              width="37"
              height="12"
              viewBox="0 0 37 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                stroke="white"
              />
            </svg>
          </a>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
          <img
            src="https://cdn.shopify.com/s/files/1/0155/8131/products/0X2A0055_b6675848-0fe1-4869-b282-b313045b34af_2000x.jpg?v=1647937248"
            alt="What To Watch For in the 2019 Hungarian Grand Prix"
          />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">GI REGISTERED PRODUCTS</span>
          </div>
          <h1 class="main-post__title">
            Leather puppetry of Nimmalakunta got the geographical indication
            (GI) tag in 2008
          </h1>
          <a
            class="main-post__link"
            href="https://www.thehindu.com/news/national/andhra-pradesh/nimmalakunta-leather-puppetry-losing-its-shine/article30039262.ece#:~:text=Leather%20puppetry%20of%20Nimmalakunta%20in,jewellery%20and%20painted%20wall%20hangings"
          >
            <span class="main-post__link-text">find out more</span>
            <svg
              class="main-post__link-icon main-post__link-icon--arrow"
              width="37"
              height="12"
              viewBox="0 0 37 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                stroke="white"
              />
            </svg>
          </a>
        </div>
      </article>
      <article class="main-post main-post--not-active">
        <div class="main-post__image">
          <img
            src="https://img.etimg.com/photo/msid-72082588,quality-100/in-odisha-rasagola-the-odia-name-is-believed-to-have-originated-back-in-11th-century-.jpg"
            alt="Hamilton wants harder championship fight from Leclerc and
              Verstappen"
          />
        </div>
        <div class="main-post__content">
          <div class="main-post__tag-wrapper">
            <span class="main-post__tag">GI REGISTERED PRODUCTS</span>
          </div>
          <h1 class="main-post__title">
            On 29th July 2019, the registrar granted the GI tag to the State of
            Odisha on 'Odisha Rasagola'.
          </h1>
          <a
            class="main-post__link"
            href="https://www.moneycontrol.com/news/trends/features/-1619447.html"
          >
            <span class="main-post__link-text">find out more</span>
            <svg
              class="main-post__link-icon main-post__link-icon--arrow"
              width="37"
              height="12"
              viewBox="0 0 37 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 6H36.0001M36.0001 6L31.0001 1M36.0001 6L31.0001 11"
                stroke="white"
              />
            </svg>
          </a>
        </div>
      </article>
    </div>
  </header>

  <div class="posts-wrapper hide-on-mobile">
    <article class="post post--active">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">GI REGISTERED PRODUCTS</span>
        <p class="post__published">October 24, 2019</p>
      </header>
      <h2 class="post__title">
        Darjeeling green and white teas have been registered as a GI in the
        country.
      </h2>
    </article>
    <article class="post">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">GI REGISTERED PRODUCTS</span>
        <p class="post__published">17-Aug-2008</p>
      </header>
      <h2 class="post__title">
        Leather puppetry of Nimmalakunta in Andhra Pradesh got the geographical
        indication (GI) tag.
      </h2>
    </article>
    <article class="post">
      <div class="progress-bar">
        <div class="progress-bar__fill"></div>
      </div>
      <header class="post__header">
        <span class="post__tag">GI REGISTERED PRODUCTS</span>
        <p class="post__published">29th July 2019,</p>
      </header>
      <h2 class="post__title">
        Registrar granted the GI tag to the State of Odisha on 'Odisha
        Rasagola'.
      </h2>
    </article>
  </div>
</div>
