{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
    <script
    src="https://kit.fontawesome.com/ad34c27ecf.js"
    crossorigin="anonymous"
  ></script>
    <title>GI - FAQ</title>
  </head>
  <body>
    <!-- ***************** Seconary navbar ************* -->
    {% include 'secondary-navbar.html' %} {% block secondary-navbar %}
    {%endblock%}

    <!-- ***************** FAQ SECTION  ************* -->
    <div class="faq-container">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion">
        <div class="accordion-item">
          <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title"
              >What is a Geographical Indication?</span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
              <ul>
                <li>It is an indication</li>
                <li>It originates from a definite geographical territory.
                </li>
                <li>It is used to identify agricultural, natural or manufactured goods</li>
                <li>The manufactured goods should be produced or processed or prepared in that territory.</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false">
            <span class="accordion-title">Examples of possible Indian Geographical Indications. Basmati Rice Darjeeling Tea</span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                <ul>
                    <li>agra petha</li>
                    <li>kolhapuri chappal</li>
                    <li>nagpur orange</li>
                    <li>kanchipuram silk saree</li>
                  </ul>
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false">
            <span class="accordion-title">What is the benefit of registration of geographical indications?</span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                It confers legal protection to Geographical Indications in India
                Prevents unauthorised use of a Registered Geographical Indication by others
                It provides legal protection to Indian Geographical Indications which in turn boost exports.
                It promotes economic prosperity of producers of goods produced in a geographical territory.
                            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false">
            <span class="accordion-title">Who can apply for the registration of a geographical indication?</span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                Any association of persons, producers, organisation or authority established by or under the law can apply:
                The applicant must represent the interest of the producers
                The application should be in writing in the prescribed form
                The application should be addressed to the Registrar of Geographical Indications alongwith prescribed fee.
                
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Who is a registered proprietor of a geographical indication?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                Any association of persons, producers,organisation or authority established by or under the law can be a registered proprietor.
                Their name should be entered in the Register of Geographical Indication as registered proprietor for the Geographical Indication applied for.
                
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Who is an authorised user?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>
                A producer of goods can apply for registration as an authorised user
It must be in respect of a registered geographical indication
He should apply in writing in the prescribed form alongwith prescribed fee

            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Who is a producer in relation to a Geographical Indication?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>The persons dealing with three categories of goods are covered under the term Producer:
                Agricultural Goods includes the production, processing, trading or dealing
                Natural Goods includes exploiting, trading or dealing
                Handicrafts or Industrial goods includes making, manufacturing, trading or dealing.
                Is a registration of a geographical indication compulsory and how does it help the applicant?
                
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Registration is not compulsory
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>Registration affords better legal protection to facilitate an action for infringement
                The registered proprietor and authorised users can initiate infringement actions
                The authorised users can exercise the exclusive right to use the geographical indication.
                
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Who can use the registered geographical indication?

                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>An authorised user has the exclusive rights to the use of geographical indication in relation to goods in respect of which it is registered.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">How long the registration of Geographical Indication is valid?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>The registration of a geographical indication is valid for a period of 10 years
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Can a registered geographical indication or a registered authorised user be removed from the register?      </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>Yes. The Appellate Board or the Registrar of Geographical Indications has the power to remove the geographical indication or an authorised user from the register. Further, on application by an aggrieved person action can be taken.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Can a Geographical Indication be renewed?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>It can be renewed from time to time for further period of 10 years each.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">What is the effect if a Geographical Indication if it is not renewed?

                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>If a registered geographical indication is not renewed it is liable to be removed from the register.

            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">When is a registered Geographical Indication said to be infringed?

                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>When an unauthorised user uses a geographical indication that indicates or suggests that such goods originate in a geographical area other than the true place of origin of such goods in a manner which mislead the public as to the geographical origin of such goods.
                When the use of geographical indication result in an unfair competition including passing off in respect of registered geographical indication.
                When the use of another geographical indication results in false representation to the public that goods originate in a territory in respect of which a registered geographical indication relates.
                         </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Who can initiate an infringement action?
                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>The registered proprietor or authorised users of a registered geographical indication can initiate an infringement action.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false">
            <span class="accordion-title">Can a registered geographical indication be assigned, transmitted, etc?

                </span
            ><span class="icon" aria-hidden="true"></span>
          </button>
          <div class="accordion-content">
            <p>No. A geographical indication is a public property belonging to the producers of the concerned goods.
                It shall not be the subject matter of assignment, transmission, licensing, pledge, mortgage or such other agreement
                However, when an authorised user dies, his right devolves on his successor in title.
                
            </p>
          </div>
        </div>
      </div>
    </div>
     <!-- ##### FOOTER SECTION ##### -->
     <div class="primary-footer">
      <p class="copyright-text">©All copyrghts are reserved to Indian Government.</p>
    </div>
    <hr>
    <div class="footer">
      <div class="left-footer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Register for GI</a></li>
          <li><a href="#">Renewal of GI</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="right-footer">
       <img style="width:200px;height:auto;" src="{% static 'assests/india emb.png'%}"></img>
      <img style="width:30px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img>
      </div>
    </div>

    <!-- ####### SCRIPT  ####### -->
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>
    <script src="{% static '/js/faq.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
