{% load static %}
<div class="primary-footer">
    <p class="copyright-text">©All copyrghts are reserved to Indian Government.</p>
  </div>
  <hr>
  <div class="footer">
    <div class="left-footer">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Register for GI</a></li>
        <li><a href="#">Renewal of GI</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="right-footer">
     <img style="width:200px;height:auto;" src="{% static 'assests/india emb.png'%}"></img>
    <img style="width:30px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img>
    </div>
  </div>