{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

</head>
<body class="mobile">
  <div class="container">
    <!-- ***************** Seconary navbar ************* -->
    {% include 'secondary-navbar.html' %} {% block secondary-navbar %}
    {%endblock%}


  
    <div class="container p-5">

        <div class="container">

            <form class="well form-horizontal" action="" method="post"  id="contact_form" enctype="multipart/form-data">
                {% csrf_token %}
        <fieldset>
        
        <!-- Form Name -->
        <legend>Contact Us Today!</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" >form_type</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    {{form.form_type}}
          </div>
          </div>
        </div>
        
        <!-- Text input-->
        
        <div class="form-group">
          <label class="col-md-4 control-label">Name of the Applicant</label>  
          <!-- <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{form.name_of_applicant}}
            </div>
          </div> -->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Name of the Applicant</span>
            {{form.name_of_applicant}}
          </div>
        </div>
        
        <!-- Text input-->
        
        <div class="form-group">
          <label class="col-md-4 control-label" >Address</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{form.address}}

            </div>
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label">Organization Authority</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
         
          {{form.persons_products_organization_authority }}
            </div>
          </div>
        </div>
        
        
        <!-- Text input-->
               
        <div class="form-group">
          <label class="col-md-4 control-label">Types of goods</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        
          {{form.type_of_goods}}
            </div>
          </div>
        </div>
        
        <!-- Text input-->
              
        <div class="form-group">
          <label class="col-md-4 control-label">specification</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
    
          {{form.specification}}
            </div>
          </div>
        </div>
        
        <!-- Text input-->
         
        <div class="form-group">
          <label class="col-md-4 control-label">Name of Geographical Indication</label>  
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
    
          {{form.name_of_geographical_indications}}
            </div>
          </div>
        </div>
        
        <!-- Select Basic -->
           
        <div class="form-group"> 
          <label class="col-md-4 control-label">State</label>
            <div class="col-md-4 selectContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            {{form.desc_of_goods}}

          </div>
        </div>
        </div>
        
        <!-- Text input-->
        
        <div class="form-group">
          <label class="col-md-4 control-label">Geo Area</label> 
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      
          {{form.geo_area}}
            </div>
        </div>
        </div>

          <!-- Text input-->
        
          <div class="form-group">
            <label class="col-md-4 control-label">File</label> 
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
        
            {{form.file}}
              </div>
          </div>
          </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label">Proof of Origin</label>  
           <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                 {{form.proof_of_origin}}
            </div>
          </div>
        </div>
        
        <!-- radio checks -->
         <div class="form-group">
                                <label class="col-md-4 control-label">Method_of_production</label>
                                <div class="col-md-4">
                                    {{form.method_of_production}}
                                </div>
                            </div>
        
        <!-- Text area -->
          
        <div class="form-group">
          <label class="col-md-4 control-label">uniqueness</label>
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                   
                    {{form.uniqueness}}
          </div>
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">inspection_body</label>
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                      {{form.inspection_body}}
            </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">other</label>
              <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                      {{form.other}}
            </div>
            </div>
          </div>
        
        <!-- Success message -->
        <!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-4">
            <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
          </div>
        </div>
        
        </fieldset>
        </form>
        </div>
            </div><!-- /.container -->

          <!-- ##### FOOTER SECTION ##### -->
         {% include 'footer.html' %} {% block footer %}
         {%endblock%}
        </div>
         <script
         src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"
       ></script>
       <script
         src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous"
       ></script>
       <script
         src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
         integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
         crossorigin="anonymous"
       ></script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script>
          function googleTranslateElementInit() {
            new google.translate.TranslateElement(
              { pageLanguage: "en" },
              "google_translate_element"
            );
          }
      
        </script>
        <script>
          window.uneeqInteractionsOptions = {
              personaShareId: "8cc6a6dd-d88c-4d9c-9439-da0b03be7617"
          }
        </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>