{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>GI - INDIA</title>
    <script
      src="https://kit.fontawesome.com/ad34c27ecf.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
  </head>
  <body class="mobile">
    <!-- ****** BODY CONTENT ******  -->
    <!-- ****** Seconary navbar ****** -->
    {% include 'secondary-navbar.html' %} {% block secondary-navbar %}
    {%endblock%}
    <!-- ****** Corouseal Section ****** -->
    {% include 'corouseal-main.html' %} {% block corouseal-main %}
    {%endblock%}
    <!-- ****** Counter Section ****** -->
    <div class="counter-content">
      <div>
        <h1 class="counter-value applied" akhi="940">0</h1>
        <p>Totally Applied</p>
      </div>
      <div>
        <h1 class="counter-value approved" akhi="420">0</h1>
        <p>Got Approved</p>
      </div>
      <div>
        <h1 class="counter-value process" akhi="412">0</h1>
        <p>In Process</p>
      </div>
    </div>

    

    <!-- ##### NEWS FEED SECTION ##### -->
    {% include 'newsfeed-main.html' %} {% block newsfeed-main %}
    {%endblock%}


    <!-- ############ Mappings Section ########## -->
    <iframe id="maps" style="height:500px;width:50%;" src="https://www.google.com/maps/d/embed?mid=1w725XdqsX7vG3OSXVFfYtr1UB-Y3Yx8&ehbc=2E312F" width="640" height="480"></iframe>

    <!-- ##### FOOTER SECTION ##### -->
    <!-- <div class="primary-footer">
      <p class="copyright-text">©All copyrghts are reserved to Indian Government.</p>
    </div>
    <hr>
    <div class="footer">
      <div class="left-footer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Register for GI</a></li>
          <li><a href="#">Renewal of GI</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="right-footer">
       <img style="width:200px;height:auto;" src="{% static 'assests/india emb.png'%}"></img>
      <img style="width:30px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img>
      </div>
    </div> -->
    {% include 'footer.html' %} {% block footer %}
    {%endblock%}

    <!-- =****** SCRIPT TAGES ****** -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>
    <script>
      window.uneeqInteractionsOptions = {
          personaShareId: "8cc6a6dd-d88c-4d9c-9439-da0b03be7617"
      }
  </script>

   <!-- ########### CHATBOT ############## -->
  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"3bce2da2e2042ea264b1e42cd966f7d70","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
    </script>
    
  
  <!--<script id="chatbot" src="https://hosted.us.uneeq.io/interactions/v1/deploy"></script> -->
    <script src="{% static '/js/app.js' %}"></script> 
  </body>
</html>