{% load static %}

<nav class="nav mt-3">
  <div class="container nav-wrapper">
    <div class="brand">
      <span class="indian-emb-img"><img style="width:250px;height:auto;" src="{% static 'assests/india emb.png'%}"></img></span>
      <span class="gi-tag-img"><img style="width:40px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img></span>
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <button class="google_translate" id="google_translate_element" ></button>
 
  </div>
</nav