<div class="feed-section">
  <div class="newsfeed">
    <div class="news-wrapper">
      <h2>Latest News and Events</h2>
      <ul>
        <li>
          <p>Date: APRIL 15, 2022</p>
          <p>
            <strong
              >Application filed seeking GI tag for the famous Chettinad
              Athangudi tiles</strong
            >
          </p>
          <a
            href="https://www.thehindu.com/news/national/tamil-nadu/application-filed-seeking-gi-tag-for-the-famous-chettinad-athangudi-tiles/article65323352.ece"
            >Read More</a
          >
        </li>
        <li>
          <p>Date: SEPTEMBER 27, 2021</p>
          <p><strong>Assam's rice wine Judima gets GI tag</strong></p>
          <a
            href="https://www.thehindu.com/news/national/other-states/assams-rice-wine-judima-gets-gi-tag/article36687514.ece"
            >Read More</a
          >
        </li>
        <li>
          <p>Date: JULY 30, 2016</p>
          <p><strong>Paneer and the origin of cheese in India</strong></p>
          <a
            href="https://www.thehindu.com/news/cities/mumbai/Paneer-and-the-origin-of-cheese-in-India/article14516958.ece"
            >Read More</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="register-section">
    <h2 class="register-text">
      Haven't you register GI for <br />your product?
    </h2>
    <button><a href="/registration">Apply for GI</a></button>
  </div>
</div>
