{% load static %}

<nav class="nav">
  <div class="container nav-wrapper">
    <div class="brand">
      <span class="indian-emb-img"><img style="width:250px;height:auto;" src="{% static 'assests/india emb.png'%}"></img></span>
      <span class="gi-tag-img"><img style="width:40px;height:auto;margin-left:1.5rem;" src="{% static 'assests/gi tag.png'%}"></img></span>
    </div>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-list">
      <li class="active">
        <a href="/main">Home</a>
      </li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>

      <li>
        <button class="btn"><a href="/contact">Contact Us</a></button>
      </li>
      <button  id="google_translate_element"></button>
    </ul>
  </div>
</nav